[workspace]
members = [
  "./crates/base",
  "./crates/cli",
  "./crates/module_fetcher",
  "./crates/sb_workers",
  "./crates/sb_env",
  "./crates/sb_core",
  "./crates/flaky_test",
  "./crates/sb_os",
  "./crates/cpu_timer",
  "./crates/event_worker",
  "./crates/npm",
  "./crates/sb_graph",
  "./crates/sb_module_loader",
  "./crates/sb_fs"
]
resolver = "2"

[workspace.dependencies]
eszip = "0.53.0"
log = "0.4.20"
anyhow = { version = "1.0.57" }
libc = { version = "0.2.144" }
deno_ast = { version = "0.29.1", features = [ "cjs", "transpiling" ] }
deno_broadcast_channel = { version = "0.115.0" }
deno_core = { version = "0.222.0" }
deno_console = { version = "0.121.0" }
deno_crypto =  { version = "0.135.0" }
deno_fetch = { version = "0.145.0" }
deno_fs = "0.31.0"
deno_config = "=0.3.1"
deno_io = "0.31.0"
deno_graph = "=0.55.0"
deno_http =  { version = "0.116.0" }
deno_media_type = { version = "0.1.1", features = ["module_specifier"] }
deno_net = { version = "0.113.0" }
deno_npm = "0.15.1"
deno_url = { version = "0.121.0" }
deno_semver = "0.5.0"
deno_tls = { version = "0.108.0"}
deno_webidl = { version = "0.121.0" }
deno_web = { version = "0.152.0" }
deno_websocket = { version = "0.126.0" }
deno_webstorage = { version = "0.116.0" }
serde = { version = "1.0.149", features = ["derive"] }
hyper = "0.14.26"
tokio = { version = "1.28.1", features = ["full"] }
bytes = { version = "1.4.0" }
once_cell = "1.17.1"
thiserror = "1.0.40"
deno_lockfile = "0.17.1"
async-trait = "0.1.73"
indexmap = { version = "2.0.0", features = ["serde"] }
flate2 = "=1.0.26"
tar = "=0.4.40"
regex = "^1.7.0"
fs3 = "0.5.0"
tokio-util = "0.7.4"
uuid = { version = "1.3.0", features = ["v4"] }
rsa = { version = "0.7.0", default-features = false, features = ["std", "pem", "hazmat"] }
monch = "=0.4.3"
reqwest = { version = "0.11.20", default-features = false, features = ["rustls-tls", "stream", "gzip", "brotli", "socks", "json"] }
ring = "=0.16.20"
urlencoding = { version = "2.1.2" }
import_map = { version = "0.15.0" }
base64 = { version = "=0.13.1" }

[profile.release]
lto = true
