[package]
name = "base"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait.workspace = true
thiserror = "1.0.40"
monch = "=0.4.3"
once_cell.workspace = true
deno_semver.workspace = true
deno_npm.workspace = true
cpu_timer = { version = "0.1.0", path = "../cpu_timer" }
anyhow = { workspace = true }
bytes = { version = "1.2.1" }
cityhash = { version = "0.1.1" }
deno_ast = { workspace = true }
deno_fs = { workspace = true }
deno_io = { workspace = true }
deno_core = { workspace = true }
deno_console = { workspace = true }
deno_crypto =  { workspace = true }
deno_fetch = { workspace = true }
deno_http =  { workspace = true }
deno_net = { workspace = true }
deno_url = { workspace = true }
deno_tls = { workspace = true }
deno_webidl = { workspace = true }
deno_web = { workspace = true }
deno_websocket = { workspace = true }
httparse = { version = "1.8.0" }
hyper = { version = "0.14.26", features = ["full"] }
http = { version = "0.2" }
import_map = { version = "0.15.0" }
log = { workspace = true }
module_fetcher = { path = "../module_fetcher" }
reqwest.workspace = true
serde = { version = "1.0.149", features = ["derive"] }
tokio = { workspace = true }
url = { version = "2.3.1" }
event_worker ={ version = "0.1.0", path = "../event_worker" }
sb_worker_context = { version = "0.1.0", path = "../sb_worker_context" }
sb_workers = { version = "0.1.0", path = "../sb_workers" }
sb_env = { version = "0.1.0", path = "../sb_env" }
sb_core = { version = "0.1.0", path = "../sb_core" }
sb_os = { version = "0.1.0", path = "../sb_os" }
sb_eszip = { version = "0.1.0", path = "../sb_eszip" }
sb_npm = { version = "0.1.0", path = "../npm" }
urlencoding = { version = "2.1.2" }
uuid = { workspace = true }
deno_broadcast_channel.workspace = true
sb_node = { version = "0.1.0", path = "../node" }
eszip.workspace = true
notify = { version = "6.1.1", default-features = false, features = ["macos_kqueue"] }

[dev-dependencies]
futures-util = { version = "0.3.28" }
flaky_test = { version = "0.1.0", path = "../flaky_test" }

[build-dependencies]
anyhow = { workspace = true }
bytes = { version = "1.2.1" }
deno_ast = { workspace = true }
deno_fs = { workspace = true }
deno_io = { workspace = true }
deno_core = { workspace = true }
deno_console = { workspace = true }
deno_crypto =  { workspace = true }
deno_fetch = { workspace = true }
deno_http =  { workspace = true }
deno_net = { workspace = true }
deno_url = { workspace = true }
deno_tls = { workspace = true }
deno_webidl = { workspace = true }
deno_web = { workspace = true }
deno_websocket = { workspace = true }
httparse = { version = "1.8.0" }
hyper = { version = "0.14.26", features = ["full"] }
http = { version = "0.2" }
import_map = { version = "0.15.0" }
log = { workspace = true }
module_fetcher = { path = "../module_fetcher" }
reqwest.workspace = true
serde = { version = "1.0.149", features = ["derive"] }
tokio.workspace = true
url = { version = "2.3.1" }
event_worker ={ version = "0.1.0", path = "../event_worker" }
sb_worker_context = { version = "0.1.0", path = "../sb_worker_context" }
sb_workers = { version = "0.1.0", path = "../sb_workers" }
sb_env = { version = "0.1.0", path = "../sb_env" }
sb_core = { version = "0.1.0", path = "../sb_core" }
sb_os = { version = "0.1.0", path = "../sb_os" }
sb_node = { version = "0.1.0", path = "../node" }
deno_broadcast_channel.workspace = true
sb_eszip = { version = "0.1.0", path = "../sb_eszip" }
