[package]
name = "base"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base_mem_check = { version = "0.1.0", path = "../base_mem_check" }
http_utils = { version = "0.1.0", path = "../http_utils" }
async-trait.workspace = true
thiserror.workspace = true
monch.workspace = true
once_cell.workspace = true
deno_semver.workspace = true
deno_npm.workspace = true
cpu_timer = { version = "0.1.0", path = "../cpu_timer" }
anyhow = { workspace = true }
bytes = { workspace = true }
cityhash = { version = "0.1.1" }
deno_ast = { workspace = true }
deno_fs.workspace = true
deno_io = { workspace = true }
deno_core.workspace = true
deno_console = { workspace = true }
deno_config = { workspace = true }
deno_crypto =  { workspace = true }
deno_fetch = { workspace = true }
deno_http =  { workspace = true }
deno_net = { workspace = true }
deno_url = { workspace = true }
deno_tls = { workspace = true }
deno_webidl = { workspace = true }
deno_web = { workspace = true }
deno_websocket = { workspace = true }
httparse = { workspace = true }
hyper = { workspace = true, features = ["full", "backports"] }
http = { version = "0.2" }
import_map.workspace = true
log = { workspace = true }
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true }
tokio-util = { workspace = true, features = ["rt"] }
tokio-rustls = { version = "0.25.0" }
rustls-pemfile = { version = "2.1.0" }
futures-util = { workspace = true }
url.workspace = true
event_worker = { version = "0.1.0", path = "../event_worker" }
sb_workers = { version = "0.1.0", path = "../sb_workers" }
sb_env = { version = "0.1.0", path = "../sb_env" }
sb_core = { version = "0.1.0", path = "../sb_core" }
sb_os = { version = "0.1.0", path = "../sb_os" }
sb_npm = { version = "0.1.0", path = "../npm" }
sb_graph = { version = "0.1.0", path = "../sb_graph" }
sb_module_loader = { version = "0.1.0", path = "../sb_module_loader" }
uuid = { workspace = true }
deno_broadcast_channel.workspace = true
sb_node = { version = "0.1.0", path = "../node" }
eszip.workspace = true
notify = { version = "6.1.1", default-features = false, features = ["macos_kqueue"] }
flume = { version = "0.11.0" }
enum-as-inner.workspace = true
urlencoding.workspace = true
scopeguard.workspace = true
pin-project = { version = "1.1.3" }
ctor = { workspace = true }
deno_canvas.workspace = true
deno_webgpu.workspace = true
fastwebsockets = { workspace = true }
sb_ai = { version = "0.1.0", path = "../sb_ai" }
sb_fs = { version = "0.1.0", path = "../sb_fs" }
tls-listener = { version = "0.10", features = ["rustls"] }
cooked-waker = { version = "5" }

[dev-dependencies]
tokio-util = { workspace = true, features = ["rt", "compat"] }
reqwest = { workspace = true, features = ["multipart"] }
serial_test = { version = "3.0.0" }
async-tungstenite = { version = "0.25.0", default-features = false }
tungstenite = { version = "0.21.0", default-features = false, features = ["handshake"] }

[build-dependencies]
sb_core = { version = "0.1.0", path = "../sb_core" }
sb_npm = { version = "0.1.0", path = "../npm" }
sb_graph = { version = "0.1.0", path = "../sb_graph" }
sb_workers = { version = "0.1.0", path = "../sb_workers" }
sb_env = { version = "0.1.0", path = "../sb_env" }
sb_os = { version = "0.1.0", path = "../sb_os" }
sb_node = { version = "0.1.0", path = "../node" }
sb_ai = { version = "0.1.0", path = "../sb_ai" }
anyhow = { workspace = true }
bytes = { workspace = true }
deno_ast = { workspace = true }
deno_fs.workspace = true
deno_io = { workspace = true }
deno_console = { workspace = true }
deno_crypto =  { workspace = true }
deno_fetch = { workspace = true }
deno_http =  { workspace = true }
deno_net = { workspace = true }
deno_url = { workspace = true }
deno_tls = { workspace = true }
deno_webidl = { workspace = true }
deno_web = { workspace = true }
deno_websocket = { workspace = true }
hyper = { workspace = true, features = ["full"] }
http = { workspace = true }
log = { workspace = true }
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
tokio.workspace = true
url.workspace = true
event_worker = { version = "0.1.0", path = "../event_worker" }
deno_broadcast_channel.workspace = true
deno_core.workspace = true
deno_canvas.workspace = true
deno_webgpu.workspace = true

[features]
termination-signal-ext = []