name: Release

on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    outputs:
      published: ${{ steps.semantic.outputs.new_release_published }}
      version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v6.0.0
        with:
          semantic_version: 18
          extra_plugins: |
            @semantic-release/release-notes-generator@^10
            @semantic-release/github@^8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_x86:
    needs:
      - release
    if: needs.release.outputs.published == 'true'
    runs-on: blacksmith-4vcpu-ubuntu-2404
    env:
      arch: amd64
    outputs:
      image_digest: ${{ steps.build.outputs.digest }}
    steps:
      - uses: actions/checkout@v6
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            supabase/edge-runtime
          tags: |
            type=raw,value=v${{ needs.release.outputs.version }}_${{ env.arch }}

      - uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: cardinalby/export-env-action@v2
        with:
          envFile: '.env'
      - id: build
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/${{ env.arch }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GIT_V_TAG=${{ needs.release.outputs.version }}
            ONNXRUNTIME_VERSION=${{ env.ONNXRUNTIME_VERSION }}

  publish_arm:
    needs:
      - release
    if: needs.release.outputs.published == 'true'
    runs-on: arm-runner
    env:
      arch: arm64
    outputs:
      image_digest: ${{ steps.build.outputs.digest }}
    steps:
      - uses: actions/checkout@v6
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            supabase/edge-runtime
          tags: |
            type=raw,value=v${{ needs.release.outputs.version }}_${{ env.arch }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker
          driver-opts: |
            image=moby/buildkit:master
            network=host

      - uses: cardinalby/export-env-action@v2
        with:
          envFile: '.env'
      - id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/${{ env.arch }}
          tags: ${{ steps.meta.outputs.tags }}
          no-cache: true
          build-args: |
            GIT_V_TAG=${{ needs.release.outputs.version }}
            ONNXRUNTIME_VERSION=${{ env.ONNXRUNTIME_VERSION }}

  merge_manifest:
    needs: [release, publish_x86, publish_arm]
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Merge multi-arch manifests
        run: |
          docker buildx imagetools create -t supabase/edge-runtime:v${{ needs.release.outputs.version }} \
          supabase/edge-runtime@${{ needs.publish_x86.outputs.image_digest }} \
          supabase/edge-runtime@${{ needs.publish_arm.outputs.image_digest }}
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.PROD_AWS_ROLE }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: docker/login-action@v3
        with:
          registry: public.ecr.aws

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Mirror to ECR
        uses: akhilerm/tag-push-action@v2.2.0
        with:
          src: docker.io/supabase/edge-runtime:v${{ needs.release.outputs.version }}
          dst: |
            public.ecr.aws/supabase/edge-runtime:v${{ needs.release.outputs.version }}
            ghcr.io/supabase/edge-runtime:v${{ needs.release.outputs.version }}
